@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var avatar = HttpContextAccessor.HttpContext.Session.GetString("Avatar");
    var defaultAvatar = Url.Content("~/uploads/user-default.webp");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo_List</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="header-container">
            <a asp-controller="Task" asp-action="TodoList" class="logo">MyTasks</a>

            <a asp-controller="Task" asp-action="Profile" class="user-info">
                <span>@username</span>
                <div class="avatar">
                    <img src="@(string.IsNullOrEmpty(avatar) ? defaultAvatar : avatar)" alt="User Avatar">
                </div>
            </a>
        </div>
    </header>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
